@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    333 North Planinton Ave<br />
    Milwaukee, Wi 53203<br />
    <abbr title="Phone">P:</abbr>
    414.564.3212
</address>

<address>
    <strong>Heather:</strong>   <a href="mailto:Support@example.com">Heather@example.com</a><br />
    <strong>Jacob:</strong> <a href="blankenburg.jake2615@gmail.com">blankenburg.jake2615@gmail.com</a>
</address>