@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Cookie Jar</h1>
    <p class="lead">Welcome to The Cookie Jar.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p>
            Here at The Cookie Jar we deliver you cookies once a month based on your likings.
        </p>
        <p><a class="btn btn-default" href="~/Account/Register">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prices</h2>
        <p>We offer 4 types of Cookie Jars each have diiferent cookies included. Please view our prices page for more information on the prices.</p>
        <p><a class="btn btn-default" href="">Prices &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>We are a start up company based in Milwaukee, WI.</p>
        <p>
            <a class="btn btn-default" href="About">About &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Members</h2>
        <p>If you already are a member. Log in here</p>
        <p><a class="btn btn-default" href="~/Account/Login">Log in &raquo;</a></p>
    </div>
</div>