@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Cookie Jar</h1>
    <p class="lead">Welcome to The Cookie Jar.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p>
            Here at The Cookie Jar we deliever you cookies once a month based on your likings.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prices</h2>
        <p>We offer 4 types of Cookie Jars each have diiferent cookies included. Please view our prices page for more information on the prices.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Prices &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>We are a start up company based in Milwaukee, WI.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">About &raquo;</a></p>
    </div>
</div>